<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- MATERIAL -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <!-- endbuild -->
  </head>

  <body ng-app="MainApp" layout="row" ng-controller="UserController as ul">

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                  md-component-id="left"
                  md-is-locked-open="$mdMedia('gt-sm')">

      <md-toolbar class="md-whiteframe-z1">
        <h1>Users</h1>
      </md-toolbar>

      <md-list>
        <md-list-item ng-repeat="it in ul.users">
            <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
              <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
              {{it.name}}
            </md-button>
        </md-list-item>
      </md-list>

    </md-sidenav>


    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

      <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h1>Angular Material - Starter App</h1>
      </md-toolbar>

      <md-content flex id="content">
          <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
          <h2>{{ul.selected.name}}</h2>
          <p>{{ul.selected.content}}</p>

          <md-button class="contact" md-no-ink ng-click="ul.showContactOptions($event)" aria-label="Contact User">
            <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
            <md-icon md-svg-icon="share"></md-icon>
          </md-button>
        </md-content>

    </div>

    <!-- SCRIPTS -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- MAIN -->
        <script src="scripts/app.js"></script>

        <!-- USER MODULE -->
        <script src="scripts/users/users.config.js"></script>
        <script src="scripts/users/UserController.js"></script>
        <script src="scripts/users/UserService.js"></script>

        <!-- AUTH MODULE -->
        <script src="scripts/auth/dauth.config.js"></script>

        <script src="scripts/auth/controllers/main.controller.js"></script>
        <script src="scripts/auth/controllers/register.controller.js"></script>
        <script src="scripts/auth/controllers/passwordreset.controller.js"></script>
        <script src="scripts/auth/controllers/passwordresetconfirm.controller.js"></script>
        <script src="scripts/auth/controllers/login.controller.js"></script>
        <script src="scripts/auth/controllers/verifyemail.controller.js"></script>
        <script src="scripts/auth/controllers/logout.controller.js"></script>
        <script src="scripts/auth/controllers/userprofile.controller.js"></script>
        <script src="scripts/auth/controllers/passwordchange.controller.js"></script>
        <script src="scripts/auth/controllers/master.controller.js"></script>
        <script src="scripts/auth/controllers/restricted.controller.js"></script>
        <script src="scripts/auth/controllers/authrequired.controller.js"></script>

        <script src="scripts/auth/services/djangoAuth.service.js"></script>
        <script src="scripts/auth/services/validate.service.js"></script>
        <!-- endbuild -->

  </body>
</html>
